html, body {
    height: 100%;
}
.container {
    height: 100%;
}
#form-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}
#form-container form {
    margin-bottom: 0px;
}
#form-container form input[type=button] {
    margin-bottom: 0px;
}
#admin-container {
    display: none;
}
.header-btn {
    margin-top: 1.5rem;
    float: right;
}
#edit-posts-btn {
    display: none;
}
#header-container {
    padding-top: 1rem;
    border-bottom: 1px solid #ddd;
}
#new-post-container {
    display: none;
}
#new-post-container form{
    margin-top: 2rem;
}